
body {text-align: center; background-color: bisque; height: 0; margin: 0; border: 200px;
}
img {max-width: 100px;
}
ul {display: inline-block; border: solid; background-color: brown;font-size: 200%;
}
li{border: solid; margin: 1vw; padding: 1vw; background-color: bisque;
}
#header {background-color: brown; color: white; 
}
#header > p {font-size: xx-large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.menu {font-size: 150%; font-weight: 900; background-color: orange; padding: 5px; margin-top: -31px; 
}
#descricao{font-size: xx-large ;font-weight: bold; 
}
footer {background-color: brown;color: cornsilk; position: absolute;bottom: 00; width: 100%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#relativefooter { position: relative;
}
table {margin: auto; border: solid; border-color: brown;min-width: 60vw;
}
td {border: solid; border-color: brown;min-width: 100%;
}
td > img {min-width: 100%;
}
form {font-size: xx-large;
}
#func {margin-top: 3vw; font-size: 200%;
}
.social {margin-top: 100px;
}
#working { min-width: 370px; min-height: 250px; margin-top: -1vw;
}

a:link {
    color: green;
    text-decoration: none;
  }
  
  a:visited {
    color: bisque;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    text-decoration: underline;
  }

* {margin-top: 0;}

